if TARGET_IMX8MM_LEICA_CROCODILE

config SYS_BOARD
	default "crocodile"

config SYS_VENDOR
	default "leica"

config SYS_CONFIG_NAME
	default "crocodile"

config IMX_CONFIG
	default "board/leica/crocodile/imximage-8mm-lpddr4.cfg"
	
config LEICA_FSPI_NOR_IMG_ADDR
	hex "Address of image to be booted from NOR flash in bytes"
	default 0x200000

config LEICA_FSPI_NOR_IMG_SIZE
	hex "Size of image to be booted from NOR flash in bytes"
	default 0x1600000

config LEICA_BOOTSCRIPT_EMMC_ADDR
	hex "Bootscript address in blocks on eMMC"
	default 0x32
	help
	  Address in blocks on eMMC bootscript is loaded from.

config LEICA_BOOTSCRIPT_EMMC_SIZE
	hex "Bootscript size in blocks on eMMC"
	default 0x8
	help
	  Size in blocks of bootscript on eMMC.

endif
